<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilføj udstyr</title>
    <link rel = stylesheet href="/../stylesheet.css" type="text/css">
</head>
<body class="backgroundColor">
<img style="float: right" src="/adventurelogo2.jpeg" width="500" height="200" alt="Billedet er ikke vist" >
<div th:replace="fragments/navbar :: navbar"></div>
<form action="/equipment/create" method="post">
    <table>
        <tr>
            <td><label>Type</label></td>
            <td>
                <select name="type">
                    <option th:each = "type: ${equipmentTypes}" th:text="${type.type}" th:value="${type.type}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Reparationsstatus: </label></td>
            <td>
                <label>Under reparation</label>
                <input type="radio" value="true" name="needsRepair">
            </td>
            <td>
                <label>Ikke under reparation</label>
                <input th:checked="true" type="radio" value="false" name="needsRepair">
            </td>
        </tr>
    </table>
    <input type="submit" value="Tilføj udstyr">
</form>
</body>
</html>