<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tilføj udstyr</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<form action="/equipment/create" method="post">
    <table>
        <tr>
            <td><label>Type:</label></td>
            <td><input type="text" name="type"></td>
        </tr>
        <tr>
            <td><label>Reparationsstatus: </label></td>
            <td>
                <label>Skal repareres</label>
                <input type="radio" value="true" name="needsRepair">
            </td>
            <td>
                <label>Skal ikke repareres</label>
                <input type="radio" value="false" name="needsRepair">
            </td>
        </tr>
    </table>
    <input type="submit" class="btn btn-success" value="Tilføj udstyr">
</form>
</body>
</html>