<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Display Reservations</title>
    <link rel = stylesheet href="/../stylesheet.css" type="text/css">
</head>
<body class="backgroundColor">
<div th:replace="fragments/navbar :: navbar"></div>
<div>
    <img style="float: right"  src="/../adventurelogo2.jpeg" width="250" height="100" alt="Billedet er ikke vist">
</div>
<h2 style="margin-left: 10px">Liste over alle reservationer</h2>
<div style="margin-left: 10px">
    <form action="create-reservation.html" method="get">
        <button type="create" class="btn green-button" style="float: left; margin-top: 35px" formaction="/reservations/create">Opret reservation</button>
    </form>
</div>
<table id="main-table" class="table table-many border table-header-sticky">
    <thead>
        <th class="border-right">Dato</th>
        <th class="border-right">Kundetelefonnummer</th>
        <th class="border-right">Aktivitet</th>
        <th class="border-right">Antal deltagere</th>
    </thead>
    <tbody>
        <tr th:each="reservation: ${reservations}">
            <td th:text="${reservation.date}"></td>
            <td th:text="${reservation.customerPhoneNumber}"></td>
            <td th:text="${reservation.activityName}"></td>
            <td th:text="${reservation.participants}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>
