<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Display Reservations</title>
    <link rel = stylesheet href="/../stylesheet.css" type="text/css">
</head>
<body class="backgroundColor">
<img style="float: right" src="/adventurelogo2.jpeg" width="500" height="200" alt="Billedet er ikke vist">
<div th:replace="fragments/navbar :: navbar"></div>
<table>
    <thead>
        <th>Startdato</th>
        <th>Slutdato</th>
        <th>Kundetelefonnummer</th>
        <th>Aktivitet</th>
        <th>Instruktør</th>
        <th>Antal deltagere</th>
    </thead>
    <tbody>
        <tr th:each="reservation: ${reservations}">
            <td th:text="${reservation.startDate}"></td>
            <td th:text="${reservation.endDate}"></td>
            <td th:text="${reservation.customerPhoneNumber}"></td>
            <td th:text="${reservation.activityName}"></td>
            <td th:text="${reservation.instructorName}"></td>
            <td th:text="${reservation.participants}"></td>
            <td>
                <form action="/reservations/edit" method="post">
                    <input type="hidden" name="id" th:value="${reservation.id}">
                    <button type="submit">Redigér</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
