<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
        <meta charset="UTF-8">
        <title>Display Reservations</title>
        <link rel = stylesheet href="/../stylesheet.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
    <body class="backgroundColor">
    <div th:replace="fragments/navbar :: navbar"></div>
    <div>
        <img style="float: right"  src="/../adventurelogo2.jpeg" width="250" height="100" alt="Billedet er ikke vist">
    </div>
    <h1 style="margin-left: 10px">Reservationer</h1>
    <div class="search-bar">
        <h2>Søg</h2>
        <p>Skriv noget i søgefeltet for, at søge efter reservationer baseret på telefonnummer, startdato, slutdato, aktivitet, instruktør eller antal deltagere:</p>
        <input id="myInput" type="text" placeholder="Søg..">
        <br>
    </div>
    <form action="create-reservation.html" method="get">
        <button type="Create" class="btn green-button" style="float: left; margin-top: 35px" formaction="/reservations/create">Opret reservtion</button>
    </form>
    <div>
    <table id="main-table" class="table table-many border table-header-sticky">
        <thead>
            <tr>
            <th class="border-right">Startdato</th>
            <th class="border-right">Slutdato</th>
            <th class="border-right">Kundetelefonnummer</th>
            <th class="border-right">Aktivitet</th>
            <th class="border-right">Instruktør</th>
            <th class="border-right">Antal deltagere</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="reservation: ${reservations}" style="background-color: whitesmoke">
                <td th:text="${reservation.startDate}"></td>
                <td th:text="${reservation.endDate}"></td>
                <td th:text="${reservation.customerPhoneNumber}"></td>
                <td th:text="${reservation.activityName}"></td>
                <td th:text="${reservation.instructorName}"></td>
                <td th:text="${reservation.participants}"></td>
                <td>
                    <form action="/reservations/edit" method="post">
                        <input type="hidden" name="id" th:value="${reservation.id}">
                        <button style="margin:10px" class="btn blue-button" type="submit">Redigér</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</body>

<script>
    $("#myInput").on("keyup", function() {
        const value = $(this).val().toLowerCase();
        console.log("value:", value)
        $("#main-table tbody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>
</html>
