<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redigér aktivitet</title>
    <link rel="stylesheet" href="/../stylesheet.css" type="text/css">
    <form action="index.html" method="get">
        <button type="Create" class="btn blue-button" style="float: right; margin-right: 20px" formaction="/home">Hjem</button>
    </form>
    <img style="float: right" src="/adventurelogo2.jpeg" width="500" height="200" alt="Billedet er ikke vist">
</head>
<body class="backgroundColor">
<div class="header">
    <h1>Redigér aktivitet</h1>
</div>
<div>
    <table>
        <div class="bg">
    <form class="forms" action="#" th:action="@{/updatedActivity}" th:object="${activity}"
          method="post">

        <input type="hidden" th:field="*{id}" id="activityId">

        <tr>
            <td><label for="activityName">Aktivitets Navn</label></td>
            <td><input type="text" th:field="*{name}" name="activityName" id="activityName"/></td>
            <br><br>
        </tr>
        <tr>
            <td><label for="activityDesc">Aktivitets Beskrivelse</label></td>
            <td><input type="text" th:field="*{description}" name="activityDesc" id="activityDesc"/><br><br></td>
        </tr>

        <tr>
            <td><label for="activityAgeLimit">Aldersbegrænsning</label></td>
            <td><input type="text" th:field="*{ageLimit}" name="activityAgeLimit" id="activityAgeLimit"/><br><br></td>
        </tr>

        <tr>
            <td><label for="heightLimit">Minimums Højde</label></td>
            <td><input type="text" th:field="*{heightLimit}" name="heightLimit" id="heightLimit"/><br><br></td>
        </tr>

        <tr>
            <td><label for="activityPrice">Pris</label></td>
            <td><input type="text" th:field="*{price}" name="activityPrice" id="activityPrice"/><br><br></td>
        </tr>
    </form>
        </div>
    </table>
    <input type="submit" class="btn-ed" value="Opdater">

</div>

</body>
</html>