<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel = stylesheet href="/../stylesheet.css" type="text/css">
    <meta charset="UTF-8">
    <img style="float: left" src="/adventurelogo2.jpeg" width="500" height="200" alt="Billedet er ikke vist" >
</head>
<body class="backgroundColor">

<div>
    <td>Januar</td>
    <tr th:each = "date: ${january}">
        <td th:text="${date.getDay()}"/>

        <td>
    </tr>
</div>
<div>
    <td>Februar</td>
    <tr th:each = "date: ${february}">
        <td th:text="${date.getDay()}"/>

        <td>
    </tr>
</div>
<div>
    <td>Marts</td>
    <tr th:each = "date: ${march}">
        <td th:text="${date.getDay()}"/>

        <td>
    </tr>
</div>
<div>
    <td>April</td>
    <tr th:each = "date: ${april}">
        <td th:text="${date.getDay()}"/>

        <td>
    </tr>
</div>
<div>
    <td>Maj</td>
    <tr th:each = "date: ${may}">
        <td th:text="${date.getDay()}"/>

        <td>
    </tr>
</div>
<div>
    <td>Juni</td>
    <tr th:each = "date: ${june}">
        <td th:text="${date.getDay()}"/>

        <td>
    </tr>
</div>
<div>
    <td>Juli</td>
    <tr th:each = "date: ${july}">
        <td th:text="${date.getDay()}"/>

        <td>
    </tr>
</div>
<div>
    <td>August</td>
    <tr th:each = "date: ${august}">
        <td th:text="${date.getDay()}"/>

        <td>
    </tr>
</div>
<div>
    <td>September</td>
    <tr th:each = "date: ${september}">
        <td th:text="${date.getDay()}"/>

        <td>
    </tr>
</div>
<div>
    <td>Oktober</td>
    <tr th:each = "date: ${october}">
        <td th:text="${date.getDay()}"/>

        <td>
    </tr>
</div>
<div>
    <td>November</td>
    <tr th:each = "date: ${november}">
        <td th:text="${date.getDay()}"/>

        <td>
    </tr>
</div>
<div>
    <td>December</td>
    <tr th:each = "date: ${december}">
        <td th:text="${date.getDay()}"/>

        <td>
    </tr>
</div>





</body>
</html>