<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel = stylesheet href="/../stylesheet.css" type="text/css">
        <meta charset="UTF-8">
        <title>Opret</title>
        <img style="float: right" src="/../adventurelogo2.jpeg" width="500" height="200" alt="Billedet er ikke vist">
    </head>
    <body class="backgroundColor">
    <div th:replace="fragments/navbar :: navbar"></div>
        <h1>Aktivitetsliste</h1>
    <form action="createActivity.html" method="get">
        <button type="Create" class="btn green-button" style="float: right; margin-top: 20px" formaction="/createActivity">Opret Aktivitet</button>
    </form>
    <div>
        <table id="main-table" class="table table-many border table-header-sticky">
            <thead>
            <tr>
                <th class="border-right">ID</th>
                <th class="border-right">Navn</th>
                <th class="border-right">Beskrivelse</th>
                <th class="border-right">Minimum alder</th>
                <th class="border-right">Minimum højde</th>
                <th class="border-right">Pris pr. time</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <br>
            <br>
            <tr th:each="activity : ${activity}">
                <td th:text="${activity.getId()}"></td>
                <td th:text="${activity.getName()}"></td>
                <td th:text="${activity.getDescription()}"></td>
                <td th:text="${activity.getAgeLimit()}"></td>
                <td th:text="${activity.getHeightLimit()}"></td>
                <td th:text="${activity.getPrice()}"></td>
                <td></td>
                <td></td>
                <td>
                    <a th:href="@{/updateActivity(id=${activity.getId()})}"><button class="btn green-button">Redigér</button></a>
                    <a th:href="@{/deleteActivity(id=${activity.getId()})}"><button class="btn red-button">Slet</button></a>
                </td>

            </tr>
        </table>
    </div>

    </body>
</html>