<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel = stylesheet href="/../stylesheet.css" type="text/css">
    <meta charset="UTF-8">
    <title>Gokarts</title>

</head>

<body class="backgroundColor">

<img style="float: right" src="/adventurelogo2.jpeg" width="500" height="200" alt="Billedet er ikke vist" >
<div th:replace="fragments/navbar :: navbar"></div>

<div align="center">

    <table >
        <header>
            <h1>Gokarts</h1>
            <p>true = Available</p>
            <p>false = Unavailable</p>
        </header>





        <tr th:each="equipment : ${viewEquipment}">
            <td th:text="${equipment.id}"></td>
            <td th:text="${equipment.type}"></td>
            <td th:text="${equipment.needsRepair}"></td>

            <td>
                <a th:href="@{/updateEquipment(id=${equipment.id})}"><button class="btn-ed">Update</button></a>
                <a th:href="@{/deleteEquipment(id=${equipment.id})}"><button class="btn-del">Delete</button></a>
            </td>
        </tr>
    </table>


</div>

</body>
</html>