<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Farven skal ændres på table, så tabellen ikke falder ud i samme farve som baggrunden.-->
<head>
    <link rel = stylesheet href="/../stylesheet.css" type="text/css">
    <meta charset="UTF-8">
    <title>Intruktørliste</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="backgroundColor">
<div th:replace="fragments/navbar :: navbar"></div>
<div>
    <img style="float: right"  src="/../adventurelogo2.jpeg" width="250" height="100" alt="Billedet er ikke vist">
</div>
<h1 style="margin-left: 10px">Instruktører</h1>
<div class="search-bar">
    <h2>Søg</h2>
    <p>Skriv noget i søgefeltet for, at søge efter instruktører baseret på id, fornavn, efternavn, aktivitetsnummer eller arbejde (true/false).</p>
    <input id="myInput" type="text" placeholder="Søg..">
    <br>
</div>
<form action="addEmployee.html" method="get">
    <button type="Create" class="btn green-button" style="float: left; margin-top: 35px" formaction="/addEmployee">Tilføj Instruktør</button>
</form>
<div>
    <table id="main-table" class="table table-many border table-header-sticky">
        <thead>
        <tr>
            <th class="border-right">ID</th>
            <th class="border-right">Fornavn</th>
            <th class="border-right">Efternavn</th>
            <th class="border-right">Aktivitetsnummer</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="employee : ${employee}" style="background-color: whitesmoke">
            <td th:text="${employee.getId()}"></td>
            <td th:text="${employee.getFirstName()}"></td>
            <td th:text="${employee.getLastName()}"></td>
            <td th:text="${employee.getActivityId()}"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a th:href="@{/updateEmployee(id=${employee.getId()})}"><button style="margin:10px" class="btn blue-button">Redigér</button></a>
                <a th:href="@{/deleteEmployee(id=${employee.getId()})}"><button style="margin: 10px" class="btn red-button">Slet</button></a>
            </td>

        </tr>
    </table>
</div>

</body>
<script>
    $("#myInput").on("keyup", function() {
        const value = $(this).val().toLowerCase();
        console.log("value:", value)
        $("#main-table tbody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
</script>
</html>
</html>
