<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret aktivitet</title>
    <link rel="stylesheet" href="/../stylesheet.css" type="text/css">
    <form action="index.html" method="get">
        <button type="Create" class="btn blue-button" style="float: right; margin-right: 20px" formaction="/home">Hjem</button>
    </form>
    <img style="float: right" src="/adventurelogo2.jpeg" width="500" height="200" alt="Billedet er ikke vist">
</head>
<body class="backgroundColor">
<h1>Opret aktivitet</h1>
<div>
    <table>
        <div class="bg">
            <form class="forms" action="#" th:action="@{/createActivity}" th:object="${createActivity}"
                  method="post">
                <br>
                <br>
                <tr>
                    <td><label for="name">Name</label></td>
                    <td><input type="text" th:field="*{name}" name="name" id="name" required /><br><br></td>
                </tr>
                <tr>
                <td><label for="description">Description</label></td>
                <td><input type="text" th:field="*{description}" name="description" id="description"
                       required /><br><br></td>
                </tr>
                <tr>
                <td><label for="ageLimit">Aldersbegrænsning</label>
                <td><input type="text" th:field="*{ageLimit}" name="ageLimit" id="ageLimit"
                       required /><br><br></td>
                </tr>
                <tr>
                <td><label for="heightLimit">Højdebregrænsning</label>
                <td><input type="text" th:field="*{heightLimit}" name="heightLimit" id="heightLimit"
                       required /><br><br></td>
                </tr>
                <tr>
                <td><label for="price">Pris</label>
                <td><input type="text" th:field="*{price}" name="price" id="price"
                       required/><br><br></td>
                </tr>
            </form>
        </div>
        <input type="submit" class="btn green-button" value="Opret">
        <input type="reset" class="btn red-button" value="Fortryd">
    </table>
</div>

</body>
</html>