<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel = stylesheet href="/../stylesheet.css" type="text/css">
    <meta charset="UTF-8">
    <title>Adventure Alley</title>
</head>
<body class="backgroundColor">

<div th:replace="fragments/navbar :: navbar"></div>

    <img style="float: right"  src="/../adventurelogo2.jpeg" width="250" height="100" alt="Billedet er ikke vist">

    <div style="display: flex; align-items: center; justify-content: center; padding-top: 200px; margin-left: 240px">
        <div class="container" style="margin-right: 40px">
            <img width="400" height="300" src="gokart.jpeg" alt="">
            <a href="equipment/gokart/list" class="btn">Gokart</a>
        </div>
        <div class="container" style="margin-right: 40px">
            <img src="paintball.jpeg" height="300" widht="400" alt="">
            <a href="equipment/paintball/list" class="btn">Paintball</a>
        </div>
        <div class="container">
            <img src="sumo.jpeg" width="400" height="300" alt="">
            <a href="equipment/sumo/list" class="btn">Sumobrydning</a>
        </div>
    </div>
    <div style="display: flex; align-items: center; justify-content: center; margin-left: 40px">
        <div class="container" style="margin-right: 40px; margin-bottom: 20px">
            <p>Minimum alder: 16 år</p>
            <p>Min højde: 160 cm</p>
            <p>250 pr. time</p>
            <p>400 for to timer</p>
        </div>
        <div class="container" style="margin-right: 40px">
            <p>Minimum alder: 16 år</p>
            <p>Min højde: 160 cm</p>
            <p>Våben inkl udstyr: 250.- pr. person</p>
            <p>Skud: 1 skud 1,- op til 250 skud. Derefter 0,8,-. Efter 500 skud 0,5</p>
        </div>
        <div class="container" style="margin-right: 40px; margin-bottom: 50px">
            <p>85,- pr. person</p>
            <p>60,- pr.person</p>
            <p>Ovenstående er gældende for hold af 10+ personer</p>
        </div>
    </div>
</body>
</html>